name: Ensure Python Code Quality

on:
  push:
   branches:
   - main
  pull_request:
    branches:
    - main

jobs:
  quality_check:

    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install requirements
        run: pip install -r requirements.txt
      - name: Run unit tests
        run: tox
      - name: Lint Python code
        run: pylint aioredis_models
